header {
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2019/02/25/09/15/donation-4019135_960_720.jpg);
    background-size: contain;
    padding: 30px;
}
.header-container {
    padding: 20px 0;
    background-color:rgba(44, 3, 68, 0.596);
}
.site-title{
    font-weight: 700;
    color: aliceblue;
}
.subtitle {
    color: antiquewhite;
}